name: iOS build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: macOS-latest
    env:
      NO_INTL: true
      NO_JIT: true

    steps:
    - uses: actions/checkout@v3

    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '13.1'

    - name: Export settings from npm package
      run: |
        npm run export_npm_env

    - name: Setup V8 build environment
      run: |
        brew install coreutils
        brew install ninja
        scripts/setup.sh -r ${V8_VERSION} ios

    - name: Patch V8
      run: |
        scripts/patch.sh ios

    - name: Build V8
      run: |
        scripts/build.sh ios
        scripts/archive.sh ios
        tar -cvf dist.tar dist

    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: dist.tar
